.navbar-mb-lightbox {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, .7);
  top: 0;
  width: 100%;
  height: 100%;
}

.navbar-mb-menu {
  background-color: white;
  width: 70%;
  height: 100%;
}
.navbar-mb-close {
  padding: 1.5rem;
}

.navbar-mb-close img {
  width: 4vw;
}

.navbar-mb-menu ul {
  list-style: none;
  padding: 0;
}

.navbar-mb-menu ul li {
  padding: 1rem 1.5rem;
  font-weight: 700;
  font-size: 5vw;
}

@media (max-width: 780px) {
  .navbar-mb-lightbox {
    display: block;
  }
}
