* {
	margin: 0;
	box-sizing: border-box;
}

:root {
	/* Primary */
	--orange: hsl(26, 100%, 55%);
	--pale-orange: hsl(25, 100%, 94%);

	/* Neutral */
	--very-dark-blue: hsl(220, 13%, 13%);
	--dark-grayish-blue: hsl(219, 9%, 45%);
	--grayish-blue: hsl(220, 14%, 75%);
	--light-grayish-blue: hsl(223, 64%, 98%);
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);

	/* Typografy */
	--p-size: 16px;
	--f-family: 'Kumbh Sans', sans-serif;
	--l-weight: 400;
	--b-weight: 700;
}

body {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
  height: max-content;
	font-family: var(--f-family);
}
.container {
	display: block;
	width: 80vw;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 7rem;
	border-bottom: 1px solid var(--grayish-blue);
}

nav {
	display: inherit;
	justify-content: space-between;
	align-items: inherit;
	width: inherit;
}

.burguer {
	display: none;
	cursor: pointer;
	margin: 0 5vw;
}

.line1,
.line2,
.line3 {
  width: 5vw;
  height: 3px;
  background-color: var(--dark-grayish-blue);
  margin: 1vw;
  border-radius: 10px;
  display: none;
}

nav .nav-logo {
	display: flex;
	align-items: center;
}

nav .nav-logo img {
	margin-right: 2.5vw;
}

nav .nav-element ul {
	color: var(--dark-grayish-blue);
	font-weight: 600;
	padding: 0;
	display: flex;
	list-style-type: none;
	justify-content: space-around;
}

nav .nav-element ul li {
	margin: 1vw;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: color .4s;
	cursor: pointer;

}

nav .nav-cart {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav .nav-cart img {
	cursor: pointer;
}

nav .nav-cart .avatar {
	border: 2px solid transparent;
	border-radius: 25px;
	transition: border .3s;
	margin-left: 2vw;
}

/* Hover states */
nav .nav-element ul li:hover {
	color: var(--very-dark-blue);
}

nav .nav-element ul li:hover::after {
    background-color: var(--orange);
}

nav .nav-cart img:nth-child(2):hover {
	border: 2px solid var(--orange);
}

/* ----------------  Media Queries ---------------- */

@media (max-width: 780px) {
	.container {
		width: 100%;
	}

	header {
		height: 4rem;
	}

	.desktop-nav {
		padding: 0 5vw;
	}

	.nav-element {
		display: none;
	}

	.burguer {
		display: block;
	}

	.line1,
	.line2,
	.line3 {
 		display: block;
		margin-right: 3vw;
	}

	nav .nav-logo img {
		margin-right: 0;
		width: 8.5rem;
		margin-bottom: .3rem;

	}

	nav .nav-cart > img {
		margin-bottom: .2rem;
	}

	nav .nav-cart .avatar {
		margin-left: 1.2rem;

	}

	nav .nav-cart .avatar img {
		width: 1.5rem;
	}

}
